body {
    background-color: rgb(8, 95, 127);
}

/*BOTON-0*/
.boton-0 {
    display: inline-block;
    background-color: rgb(233, 233, 233);
    color: rgb(47, 47, 47);
    padding: 15px 10px;
    margin: 2px;
}

/*BOTON-1*/
.boton-1 {padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    border-color: black;
    margin: 2px;
}
/*REACCION DEL BOTON-1*/
.boton-1:hover {
    background-color: rgb(48, 48, 48);
    color: rgb(255, 255, 255);
    border-color: rgb(48, 48, 48);
}

/*BOTON-2*/
.boton-2 {
    background-color: rgb(120, 131, 255);
    border: none;
    color: #124;
    padding: 14px 25px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #124;
    margin: 2px;
}

/*REACCION DEL BOTON-2*/
.boton-2:hover {
    background-color: #124;
    color: rgb(120, 131, 255);
    border-color: rgb(120, 131, 255);
}

/*BOTON-3*/
.boton-3 {
    width: 100%;
    margin: 2px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(255, 128, 0);
    font-size: 30px;
    display: block
}

/*REACCION DEL BOTON-3*/
.boton-3:hover {
    background-color: rgb(220, 110, 0);
    color: rgb(255, 255, 255);
}

/*BOTON-4*/
.boton-4 {
    width: 20%;
    margin-bottom: 5px;
    margin-left: auto;
    text-align: center;
    border: none;
    padding: 10px 8px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 6px;
    color: white;
    background-color: rgb(171, 11, 43);
    display: block;
}

/*REACCION DEL BOTON-4*/
.boton-4:hover {
    background-color: rgb(149, 0, 30);
    color: white;
}

/*BOTON-5*/
.boton-5 {
    width: 20%;
    color: white;
    background-image:linear-gradient(to right, #214, #219) ;
    border: none;
    border-radius: 6px;
    padding: 15px 20px;
    font-size: 10px;
    cursor: default;
    margin-right: auto;
    text-align: center;
    display: block;
}
/*REACCION DEL BOTON-5*/
.boton-5:hover {
    background-image: linear-gradient(to right, #219, #214);
}

/*BOTON-6*/
.boton-6 {
    margin: 4px 0;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    padding: 7px 3.5px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    border: none;
    color: white;
    background-color: rgb(13, 174, 13);
}

.boton-6:hover {
    background-color: rgb(0, 162, 0);
    color: white;
}